html, body {
  height: 100%; /* Ensures these elements stretch to the viewport height */
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
  box-sizing: border-box; /* Ensures consistent sizing */
}

#root {
  width: 100%;
  height: 100%;
  max-width: auto;
  color: var(--primary-color);
  background-color: var(--background-color);
}

.hero {
  padding: 3rem 2rem;
  text-align: center;
  margin: 0 auto;
}

.parallax-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}

.carousel-wrapper {
  position: relative;
  z-index: 2;
}
